# /*
#  * @Author: https://wangshuhao.com/
#  * @LastEditors: codewangshuhao
#  * @CreateTime: 2021/03/28 02:14:29
#  * @LastEditTime: 2021/03/28 02:21:11
#  * @FilePath: /indexui/.editorconfig
#  * @Description: 在受支持的编辑器中自动使用（保存文件时）统一的文本风格
#  * @Documentation: https://editorconfig.org/
#  */

## 指定当前文件为 EditorConfig 根配置
root = true

## 所有文件的通用选项
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
